.padded {
  padding: 5px;
}

.padded-track {
  margin-left: 20px;
  margin-right: 20px;
}

.sigil {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.army {
  margin-left: 20px;
}

.lannister {
  background-color: lightcoral;
}

.stark {
  background-color: gainsboro;
}

.greyjoy {
  background-color: silver;
}

.baratheon {
  background-color: lightyellow;
}

.arryn {
  background-color: lightskyblue;
}

.martell {
  background-color: burlywood;
}

.tyrell {
  background-color: lightgreen;
}

.targaryen {
  background-color: lightsalmon;
}

.throne-track {
  background-color: lightslategray;
  margin-bottom: 0px !important;
}

.sword-track {
  background-color: slategray;
  margin-bottom: 0px !important;
}

.raven-track {
  background-color: lightslategray;
  margin-bottom: 0px !important;
}

.track-icons {
  margin-left: 20px;
}